<h1>Add a Collection</h1>
<p>Add a Collection Here:</p>

<form action="/collections" method="post">
  <label for="typeOfCollection">Type of Collection (Cassette, CD, or Vinyl):</label>
  <input id="typeOfCollection" name="typeOfCollection" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/collections">Back to Collections.</a></p>