@using MusicOrganizer.Models;

<h3>Here are all the records in all collections:</h3>

<ol>
@foreach (var collection in @Model)
{
  @foreach(var record in collection)
  {
    <li>@record.Title</li>
  }
}
</ol>

<p><a href='/collections'>Return to collection list</a></p>
<p><a href='/'>Return to Main Page</a></p>
