<h1>Record Details: </h1>

<h2>@Model["record"].Title</h2>
<h2>@Model["record"].Artist</h2>
<h3>Collection: @Model["collection"].TypeOfCollection</h3>

<a href='/collections/@Model["collection"].Id/records/new'>Add another record</a>
<a href='/collections'>View all collections</a>